<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{.config.Title}}</title>
	{{str2html .config.Address}}
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=1200, user-scalable=yes, target-densitydpi=device-dpi">
    <link href="/static/template/default/css/common.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/diy/caa/art.styles.css">
    <link rel="stylesheet" href="/static/diy/caa/jquery.fancybox-1.3.4.css">
    <script src="/static/diy/caa/jquery.min.js"></script>
    <script src="/static/diy/caa/jquery.anythingslider.min.js"></script>
    <script src="/static/diy/caa/jquery.fancybox-1.3.4.js"></script>
    <script src="/static/diy/caa/modernizr.custom.53451.js"></script>
    <script src="/static/diy/caa/jquery.gallery.js"></script>
    <script src="/static/diy/caa/art.js"></script>
   	<script type="text/javascript" src="/static/tool/jquery.lazyload.min.js"></script>
   <script>
        $(function(){
          $("img").lazyload({
         placeholder : "/static/diy/caa/img/loading.gif",
                 effect: "fadeIn"
           });
        })
    </script>
</head>
<body>

<!--装饰-->
<div class="min-head clearfix">
    <div class="nav wrap text-right">
        <a  href="/?lang=cn" id="cn">中文</a>&nbsp;&nbsp;
        <a  href="/?lang=en" id="en">EN</a>&nbsp;&nbsp;
        <a  href="https://www.github.com/hunterhug">Github</a>&nbsp;&nbsp;
        <a  href="http://www.lenggirl.com/">Blog</a>
    </div>
</div>
<!--装饰结束-->

<!--导航-->
<div class="header">
    <li class="wrap clearfix">
        <!-- logo -->
        <a href="/" class="logo fl">
            <img style="width:190px;height:34px" src="{{.config.Photo}}" alt=""/>
        </a>
        <!-- logo -->

        <!-- nav -->
        <ul class="main-nav" id="mainNav" style="padding-right:178px">
            <li>
                <a href="/">{{i18n .Lang "home"}}</a>
            </li>

            <!-- category -->
            {{range $i,$e:=.category}}
            <li>
                <a href="/{{$e.Alias}}/">{{substr $e.Title 0 20}}</a>
                {{if $e.Son}}
                <dl class="sub-nav">
                    <dt>
                        {{range $j,$ee:=$e.Son}}
                        <li>
                        <a  href="/{{$ee.Alias}}/" data-id="#jl_{{$ee.Id}}" class="tab-nav">{{$ee.Title}}</a>
                        </li>
                        {{end}}
                    </dt>
                </dl>
                {{end}}
            </li>
            {{end}}
            <!-- category -->

            <!-- photo -->
            {{range $i,$e:=.photo}}
            <li>
                <a  href="/{{$e.Alias}}/">{{substr $e.Title 0 20}}</a>
                {{if $e.Son}}
                <dl class="sub-nav">
                    <dt>
                        {{range $j,$ee:=$e.Son}}
                        <li>
                        <a  href="/{{$ee.Alias}}/" data-id="#jl_{{$ee.Id}}" class="tab-nav">{{$ee.Title}}</a>
                        </li>
                        {{end}}
                    </dt>
                </dl>
                {{end}}
            </li>
            {{end}}
            <!-- photo -->
        </ul>
        <!-- nav -->

    <!-- phone -->
    <div style="position: absolute;right: 0px;top:10px;font-size: 1.2em">{{i18n .Lang "phone"}}:&nbsp;&nbsp;{{.config.Phone}}</div>
    <!-- phone -->
</div>
<!--导航结束-->

<!-- 图片轮转 -->
<div class="banner">
    <div id="dg-container" class="dg-container">
        <div class="dg-wrapper">
        {{range $i,$e:=.roll}}
            <a target="blank" href="{{$e.Url}}">
                <img src="{{$e.Photo}}" alt="{{substr $e.Title 0 20}}"/>
            </a>
        {{end}}
        </div>
        <div class="nav">
            <span class="dg-prev"></span>
            <span class="dg-next"></span>
        </div>
    </div>
</div>
<!-- 图片轮转结束 -->

<!-- 内容区1 -->
<div class="wrap container">
    <div class="box-row-2"><div style="padding: 10px;padding-top:5px;font-size:1.2em;color:red"><marquee direction="right">{{.config.Slogan}}</marquee></div></div>
    <!--文章区-->
    <div class="box-row-2">
        <div class="box box-col-1">
            <!-- box -->
            <div class="hd hd-tabs" data-toggle="tabs">
                <h2 class="tab-nav one current" data-id="#z1">
                    <a  href="/{{.block1c.Alias}}" class="more"></a>{{.block1c.Title}}
                </h2>

                <h2 class="tab-nav" data-id="#z2">
                    <a  href="/{{.block2c.Alias}}" class="more"></a>{{.block2c.Title}}
                </h2>
            </div>
            <!-- box -->
            <!-- box -->
            <div class="bd">
                <!---->
                <div class="news-list tab-plane" id="z1">
                    <ul>
                        <li class="pic">
                        {{if .block1c}}
                            <a target="blank" href="/{{.block1c.Alias}}">
                                <img src="{{.block1c.Image}}" alt=""/>
                            </a>
                        {{end}}
                        </li>

                        {{range $i,$e:=.block1}}
                            <li>
                                <a  href="/{{$.block1c.Alias}}/{{$e.Id}}" class="tit">
                                {{if eq $e.Istop 1}}[{{i18n $.Lang "top"}}] {{else}}{{end}}{{substr $e.Title 0 25}}...
                                </a>
                            </li>
                        {{end}}
                    </ul>
                </div>
                <!---->
                <!---->
                <div class="news-list tab-plane" id="z2" style="display:none">
                    <ul>
                        <li class="pic">
                        {{if .block2c}}
                            <a target="blank" href="/{{.block2c.Alias}}">
                                <img src="{{.block2c.Image}}" alt=""/>
                            </a>
                        {{end}}

                        </li>
                        {{range $i,$e:=.block2}}
                            <li>
                                <a  href="/{{$.block2c.Alias}}/{{$e.Id}}" class="tit">
                                {{if eq $e.Istop 1}}[{{i18n $.Lang "top"}}] {{else}}{{end}}{{substr $e.Title 0 25}}...
                                </a>
                            </li>
                        {{end}}
                    </ul>
                </div>
                <!---->
            </div>
            <!-- box -->
        </div>
        <div class="box box-col-2">
            <div class="hd hd-tabs" data-toggle="tabs">
                <a target="blank" href="/{{.block3c.Alias}}" class="more"></a><h2 class="tab-nav one current" data-id="#z3">{{.block3c.Title}}</h2>

                <h2 class="tab-nav" data-id="#z4"><a target="blank" href="/{{.block4c.Alias}}" class="more"></a>{{.block4c.Title}}</h2>
            </div>
            <div class="bd">
                <div class="news-list tab-plane" id="z3">
                    <ul>
                        {{range $i,$e:=.block3}}
                            <li><em class="fr en">{{dateformat $e.Createtime "2006/1/02"}}
                            </em>
                                <a  href="/{{$.block3c.Alias}}/{{$e.Id}}" class="tit">
                                {{if eq $e.Istop 1}}[{{i18n $.Lang "top"}}] {{else}}{{end}}{{substr $e.Title 0 30}}...
                                </a>
                            </li>
                        {{end}}
                    </ul>
                </div>
                <div class="news-list tab-plane" style="display:none" id="z4">
                    <ul>
                            {{range $i,$e:=.block4}}
                            <li><em class="fr en">{{dateformat $e.Createtime "2006/1/02"}}
                            </em>
                                <a  href="/{{$.block4c.Alias}}/{{$e.Id}}" class="tit">
                                {{if eq $e.Istop 1}}[{{i18n $.Lang "phone"}}] {{else}}{{end}}{{substr $e.Title 0 30}}...
                                </a>
                            </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--文章区结束-->

    <!--学生风采-->
    <div class="box-row-3">
        <!--最多六张 -->
        <div class="box">
			<div class="hd">
			<a target="blank" href="{{.block5c.Alias}}" class="more"></a>
				<h2>{{.block5c.Title}}<span class="en">{{i18n .Lang "show"}}</span></h2>
			</div>
			<div class="bd">
				<div class="book-scroll">
					<div class="book-scroll-wrap">
						<ul>
                            {{range $i,$e:=.block5}}
                            {{if eq $i 0}}
							<li class="open">
                                {{else}}
                                    	<li>
                                {{end}}
                                <a href="javascript:void(0);" class="pic">
                                    <div class="red-date">
									<div>{{dateformat $e.Createtime "01/02"}}</div>
									<a target="blank" href="/{{$.block5c.Alias}}/{{$e.Id}}"><img src="{{$e.Photo}}" alt="{{substr $e.Title 0 20}}"></a>
                                    </div>
								</a>
								<div class="detail">
									<h3>{{substr $e.Title 0 40}}</h3>
									<p>{{substr $e.Descontent 0 100}}</p>
									<p></p>
									<p></p>
									<p>&nbsp;</p>
									<p><a target="blank" href="/{{$.block5c.Alias}}/{{$e.Id}}">详细内容</a></p>
								</div>
							</li>
                            {{end}}
						</ul>
					</div>
					<a href="javascript:void(0)" class="btn-prev">prev</a>
					<a href="javascript:void(0)" class="btn-next">next</a>
				</div>
			</div>
		</div>
        {{range $i,$e:=.block6}}
            {{if eq $i 0}}
            <div class="box box-col-1" style="height:343px">
            {{else if eq $i 1}}
                <div class="box box-col-2" style="height:343px">
                {{else}}
                    <div class="box box-col-3" style="height:343px">
                    {{end}}
            <div class="hd">
                {{if eq $i 0}}
                <h2>{{$.block6c.Title}}</h2>
                {{end}}
                {{if eq $i 2}}
                <a  href="/{{$.block6c.Alias}}" class="more"></a>
                {{end}}
            </div>
            <div class="bd">
                <div style="text-align:center;padding: 5px;font-size: 1.2em;color:gray">{{substr $e.Title 0 20}}</div>
                <a target="blank" href="{{$.block6c.Alias}}/{{$e.Id}}">
                    <img src="{{$e.Photo}}" alt="{{substr $e.Title 0 20}}"/>
                </a>
            </div>

        </div>
        {{end}}
    </div>
    <!--学生风采结束-->

    <!--网站介绍 -->
    <div class="box">
        <div class="hd">
            <h2>{{i18n .Lang "about"}}</h2>
        </div>

        <div class="bd" id="jinhan">
            {{str2html .config.Content}}
        </div>
    </div>
    <!--网站介绍结束 -->

    <!--学生作品 -->
    <div class="box-row-3">
        {{range $i,$e:=.block8}}
            {{if lt $i 3}}
                {{if eq $i 0}}
                <div class="box box-col-1">
                {{else if eq $i 1}}
                    <div class="box box-col-2">
                    {{else}}
                        <div class="box box-col-3">
                        {{end}}
            <div class="hd">
                {{if eq $i 0}}
                <h2>{{$.block8c.Title}}</h2>
                {{end}}
                {{if eq $i 2}}
                <a  href="/{{$.block8c.Alias}}" class="more"></a>
                {{end}}
            </div>
            <div class="bd">
                <div style="text-align:center;padding: 5px;font-size: 1.2em;color:gray">{{substr $e.Title 0 20}}</div>
                <a target="blank" href="{{$.block8c.Alias}}/{{$e.Id}}"><img src="{{$e.Photo}}" alt="{{substr $e.Title 0 20}}"/></a>
            </div>
        </div>
            {{end}}
        {{end}}
    </div>
    <!--学生作品结束 -->

</div>
<!--内容区1结束 -->



<!--脚部 -->
<div class="footer">
    <div class="wrap">
       <!-- <div class="box">
				<div class="hd">
					<h2>导航<span class="en">NAVIGATION</span></h2>
				</div>
				<div class="bd">
					<div class="tab-content">
						<div class="tab-plane" id="syyx">
							<div class="news-list">
								<ul>
                                    <li><a target="blank" href="https://www.github.com/hunterhug" class="tit">Github</a></li>
                               </ul>
							</div>
						</div>
					</div>
				</div>
			</div>-->
        <div class="logo-link">
            <div>{{str2html .config.Code3}}</div>
        </div>
    </div>
</div>

            <!-- 返回顶部滑块 -->
            <div id="clan-slider">
                <ul>
                    <li class="hidden-xs">
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=459527502&site=qq&menu=yes" id="slider-qq"></a>
                        <div class="clan-slider-tips">
                            QQ: 459527502
                        </div>
                    </li>
                    <li class="hidden-xs">
                        <a id="slider-phone" href="javascript:void(0);"></a>
                        <div class="clan-slider-tips">
                        {{i18n .Lang "phone"}}:&nbsp;&nbsp;{{.config.Phone}}
                        </div>
                    </li>
                    <li><a id="slider-goTop" href="javascript:void(0);"></a></li>
                    <!--
                    <li class="visible-xs-block">
                        <a id="slider-menu" href="javascript:void(0);"></a>
                    </li>
                    -->
                </ul>
            </div>
            <!-- 返回顶部滑块 --><!-- 整站通用的尾部 -->
            <div id="sidebar-bg" style="display: none;"></div>

            <script type="text/javascript" src="/static/template/default/js/common.js"></script>
            <!--脚部结束 -->
            <!--<p>
        	<a class="btn-to-top" title="返回顶部" target="_self" href="#">回顶部</a>
    	    </p>-->

{{str2html .config.Code2}}
         <div style="text-align: center">
             亲爱的，请先扫红包码，然后如果你想打赏的话可以用红包给我打赏
             <br/>
        <img src="/file/red/red.png">
        <br/>
        <img src="/file/red/red1.png">
        </div>
</body>
</html>
